body {
  padding-top: 5rem;
}
h1 {
  margin-bottom: 1rem;  
}
.hidden { display: none;}

/* Navbar */
.navbar-brand {
  margin-right: 0;
}
.navbar-brand img {
  height: 1.5rem;
  width: 1.5rem;
}
/* .navbar-expand-md .navbar-nav {
  -ms-flex-direction: row;
  flex-direction: row;
}
.mr-auto, .mx-auto {
  margin-right: auto!important;
} */
@media (min-width: 576px) {
  .navbar-brand {
    padding-right: 1rem !important;
    border-right: 1px solid #dee2e6 !important;
    margin-right: 0.5rem;
  }
}

/* Helper Links */
.helper_links a {
  color: #6c757d;
}

/* Links */
a {
  color: #002180;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #000d34;
  text-decoration: underline;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

/* Alerts */
div.alert::first-letter {
  text-transform: capitalize;
}

/* Forms */
.form-control, .form-group .form-control {
  color: #000;
}

/* Buttons */
.btn-primary, .badge-primary {
  color: #fff;
  background-color: #002180;
  border-color: #002180;
}
.btn-primary:hover, .badge-primary:hover {
  color: #fff;
  background-color: #00175a;
  border-color: #00144d;
}
.btn-primary:focus, .btn-primary.focus, .badge-primary:focus, .badge-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 66, 147, 0.5);
}
.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #002180;
  border-color: #002180;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #00144d;
  border-color: #001140;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 66, 147, 0.5);
}


/* Load spinner */
.loader {
  border: 16px solid #f8f9fa; /* Light grey */
  border-top: 16px solid #002180; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
