body {
  padding-top: 5rem;
}
h1 {
  margin-bottom: 1rem;  
}

/* Navbar */
.navbar-brand {
  margin-right: 0;
}
.navbar-brand img {
  height: 1.5rem;
  width: 1.5rem;
}
@media (min-width: 768px) {
  .navbar-brand {
    padding-right: 1rem !important;
    border-right: 1px solid #dee2e6 !important;
    margin-right: 0.5rem;
  }
}

/* Helper Links */
.helper_links a {
  color: #6c757d;
}

/* Load spinner */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
